nav {
  background-color: #f57b22;
  color: #333;
}

.navbar-brand {
  color: #333;
}

.main {
  margin-top: 2rem;
  overflow-x: hidden;
}
footer {
  position: fixed;
  padding: 10px 0;
  bottom: 0;
  height: 60px;
  background: #f57b22;
  width: 100%;
  text-align: center;
}
.statusbtn {
  height: 22px;
}
.nav-title:hover {
  color: #333;
}
.mylinks {
  color: #333;
}
.loading {
  height: 100vh;
}

.error-message {
  margin-left: 1em;
  padding-left: 4px;
}
.cont {
  height: auto;
  padding: 3em 3em;
}
.pfont {
  font-size: 12px;
  padding-top: 0;
  margin: 0;
}
.infobtn {
  cursor: pointer;
}
.footer-p {
  margin: auto;
  font-size: 20px;
}
.borderless td,
.borderless thead {
  border: none;
}
.spacing {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
  margin-bottom: 4px;
}
.spacing i {
  font-size: 16px;
}

.cell {
  padding: 12px;
}

.actionBox .form-group * {
  width: 100%;
}
.taskDescription {
  margin-top: 10px 0;
}
.commentList {
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow: auto;
}
.commentList li {
  margin: 0;
  margin-top: 10px;
}
.commentList li > div {
  display: table-cell;
}
.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left;
}
.commenterImage i {
  font-size: 22px;
  width: 100%;
  border-radius: 50%;
}
.commentText p {
  margin: 0;
}
.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 13px;
}
.actionBox {
  border-top: 1px dotted #bbb;
  padding: 10px;
}
@media screen and (max-width: 640px) {
  table {
    overflow-x: auto;
    display: block;
  }
  .table .table-header .cell {
    padding: 20px 5px;
  }
}
